<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <input type="texto" class="form-control" placeholder="Usuario" name="usuario">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Contraseña" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form
            
           {{#if error}}
            <p>su usuario y/o contraseña son incorrectas</p>
            {{/if}}
        </div>
    </div>
</div>
 