        <div>
            <img src="images/home/img01.jpg" alt="avion">
        </div> <!--puede ser una section o un div-->
        <div class="columnas"> <!--sirve como contenedor, pero no es visible en el navegador-->
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam qui voluptas, blanditiis ad rerum excepturi illum consequatur natus? Assumenda alias laborum corporis eligendi enim veniam a explicabo libero minus magnam.
                </p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                     <span class="cita">Simplemente Excelente</span>
                     <span class="autor">Juan Gómez - zapatos.com</span>   
                </div>

            </section>

        </div>


