 <section class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita delectus dolorem eveniet inventore quia incidunt laborum perspiciatis officiis amet officia obcaecati labore molestiae, modi perferendis ad nam sunt, quos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolores rerum quam optio doloremque distinctio vero hic tempore! Perferendis animi commodi voluptate earum cumque repellat non expedita, tempora quis accusantium.</p>
       </section>

       <Section class="staff">
        <h2>Staff</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                <h5>Juan Gómez</h5>
                <h6>Gerente General</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eveniet ipsa consectetur molestiae quae explicabo esse, accusantium architecto laboriosam provident laudantium aliquid labore, accusamus officia, autem voluptate voluptatum exercitationem sunt!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                <h5>Diana Reyes</h5>
                <h6>Gerente Comercial</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. accusamus officia, autem voluptate voluptatum exercitationem sunt!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zavala">
                <h5>Roberto Zavala</h5>
                <h6>Gerente de Sistemas</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eveniet ipsa consectetur molestiae quae explicabo esse, accusantium architecto laboriosam provident laudantium aliquid labore, accusamus officia, autem voluptate voluptatum exercitationem sunt!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastroloi">
                <h5>Sandra Mastroloi</h5>
                <h6>Gerente de Marketing</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eveniet ipsa consectetur molestiae quae explicabo esse, accusantium !</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="Luciano Gomez">
                <h5>Luciano Gomez</h5>
                <h6>Gerente de Logística</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eveniet ipsa consectetur molestiae quae explicabo esse, accusantium architecto laboriosam provident laudantium aliquid labore, accusamus officia, autem voluptate voluptatum exercitationem sunt!</p>
            </div>

        </div>

       </Section>
